{% extends 'layout.njk' %}
{% block content %}

<main>
    <div class="container">
        <div class="row">
            {% for item in items %}
                <div class="video-card d-flex justify-content-center">
                    <a class="card-link" href="/videos/{{ item.videoID }}">
                        <div class="card">
                            <img src="https://i.ytimg.com/vi/{{ item.videoID }}/hqdefault.jpg" class="card-img-top" alt="{{ item.videoTitle }} thumbnail">
                            <div class="card-body">
                                <h5 class="card-title video-title">{{ item.videoTitle }}</h5>
                                {% if item.uploader == username %}
                                    <form action="/videos/{{ item.id }}/delete" method="post">
                                        <button type="submit" class="delete-button btn btn-danger">Delete</button>
                                    </form>
                                {% endif %}
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
</main>

{% endblock %}