{% extends layout %}
{% block content %}

<main>
    <h1> {{ message }} </h1>
    <div class="d-flex justify-content-center p-left-right-20">
        <div class="video-container">
            {% for item in items %}
                <iframe class="responsive-iframe" src="https://www.youtube.com/embed/{{ item.videoID }}"></iframe>
            {% endfor %}
        </div>
    </div>
</main>

{% endblock %}